body {
    background-color: $almost-white;
}

.row > * {
    width: 90%;
}

.gradient {
    height: 100vh;
    background: rgb(0,82,87);
    // padding-bottom: 15px;
    // clip-path: 
    //     polygon(
    //         0% 0%,
    //         100% 0%,
    //         100% calc(100% - 15px),
    //         0 100%
    //     );
    background: linear-gradient(180deg, rgba(0,82,87,1) 0%, rgba(255,255,255,1) 100%); 

    .search-container {

        .search-bar {

            margin: auto;
            border-radius: 25px;
    
            .search-icon {
                width: 25px;
            }
        }

        .search-bar-active {
            border-radius: 25px 25px 0 0;

            .search-icon {
                width: 25px;
            }
        }
    
        a {
    
            .result {
                background: $almost-white;
                padding: 5px;
                border-top: 1px solid $green-main;
                display: flex;

                img {
                    width: 125px;
                    object-fit: contain;
                    align-self: baseline;
                }
            }

            :hover {
                background-color: rgb(245, 245, 245);
            }

            &:last-child {

                .result {
                    border-radius: 0 0 25px 25px;

                    img {
                        border-radius: 0 0 0 25px;
                    }
                }
            }
        }

    }
}

.details-container {

    .desktop-flex-between {

        .page-left {
            width: 100%;
        }

        .page-right {

            &.card {
                width: 100%;
                border-radius: 25px;
                background-color: $green-main;
                color: $almost-white;
                padding: 1.5rem;
                margin: 1rem 0;
                align-self: baseline;
        
                .card-inline {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media (min-width: 992px) {

    .desktop-flex-evenly {
        display: flex;
        justify-content: space-evenly;
    }

    .details-container {
        max-width: 1200px;
        margin: auto;

        .desktop-flex-between {
            display: flex;
            justify-content: space-between;

            .page-left {
                width: 65%;
            }

            .page-right {

                &.card {
                    width: 30%;
                }
            }
        }
    }
}